<!DOCTYPE html>
<html>
<head>
  <title>ArtistFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            	<h3 class="masthead-brand">
              <% if user_signed_in? %>
                <%= link_to "ArtistFinder", search_path %>
              <% else %>
                <%= link_to "ArtistFinder", root_path %>
              <% end %>
              </h3>
				<%= render 'layouts/user_widget' %>
            </div>
          </div>
          <div class="inner cover">
          	<div class="panel panel-default">
				<div class="panel-body">
					<%= yield %>
          <div class="panel-footer"><p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>
				</div>
			</div>
			  </div>
        </div>
      </div>
    </div>

</body>
</html>
