<!DOCTYPE html>
<html>
<head>
  <title>ArtistFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            	<h3 class="masthead-brand">
              <% if user_signed_in? %>
                <%= link_to "ArtistFinder", search_path %>
              <% else %>
                <%= link_to "ArtistFinder", root_path %>
              <% end %>
              </h3>
		<%= render 'layouts/user_widget' %>
            </div>
          </div>
          <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <% unless alert.blank? %>
                <p class="alert"><%= alert %></p>
                <% end %>
                <% unless notice.blank? %>
                <p class="notice"><%= notice %></p>
                <% end %>
                <% unless notice.blank? and alert.blank? %> 
                <script type="text/javascript">
                $(function() {
                  $('#infoModal').modal('show');
                });
                </script>
                <% end %>
              </div>
            </div>
          </div>
          <div class="inner cover">
          	<div class="panel panel-default">
				<div class="panel-body">
					<%= yield %>
				</div>
			</div>
			  </div>
        </div>
      </div>
    </div>

</body>
</html>
